body {
    background-color: black;
}
h1 {
    color: white;
    font-size: 20px;
}
p {
    color: white;
}
div {
    border:2px;
    border-style: dotted;
    width: 100px;
    height: 100px
    color: white;
}
ol {
    list-style-type: lower-alpha;
    color: white;
}
ul {
    list-style-type: square;
    color: white;
}
