body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background-color: black;
    color: white;
    text-align: center;

nav {
    border: 2px dotted white;
    padding: 10px 50px;
    border-radius: 15px;
    color: #ffffe6;
    background-color: #ffe6e6;
    margin: 30px;
    margin-bottom: 25px;
} 
section {
    border: 2px dotted white;
    padding: 250px 250px;
    border-radius: 15px;
    color: #ffffe6;
    background-color: #ffe6e6;
    margin: 30px;
    margin-bottom: 25px;
}   
#footer {
    border: 2px dotted white;
    padding: 10px 500px;
    border-radius: 15px;
    color: #ffffe6;
    background-color: #ffe6e6;
    margin: 30px;
    margin-bottom: 25px;
}
