body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #85e0e0;
}
#header {
    background-color: #330033;
    opacity: 0.5;
    color: white;
    text-align: center;
#nav {
    background-color: red;
    border: 2px black;
    display: block;
    float: left;
    padding: 5px;
    
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: white;
} 
li {
    float: left;
} 
li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
} 
li a:hover {
    background-color: yellow;
} 
#section {
    border: 2px yellow;
    background-color: black;
} 
article {
    border: 2px yellow;
    background-color: black;
} 

footer {
    border: 2px black;
    background-color: yellow;
    color: red;
}
