body {
    background-image: url(taustakuva.jpg);
}
h1 {
    background-color: white;
    opacity: 0.5;
    color: black;
    font-size: 20px;
    margin: 30px
}
nav {
    border: 2px dotted white;
    padding: 10px 10px;
    border-radius: 15px;
    color: #ffffe6;
    background-color: #ffe6e6;
    margin: 30px;
    margin-bottom: 25px;
}    
p  {
    border: 2px dotted white;
    padding: 10px 10px;
    border-radius: 15px;
    color: black;
    background-color: #ebe535;
    margin: 30px;
    margin-bottom: 25px;
}
h2 { 
    margin: 30px;
    border-bottom: 4px dashed #4d004d; 
    color: #000066;
    opacity: 0.8;
    background-color: #ebe535;
}    
figure { 
    margin:35px;
} 
img {
    margin: 35px;
}
label {
    margin: 40px;
    background-color: #ffe6ff;
    color: black;
}
progress {
    background-color: white;
    color: #ffe6ff
}
