body {
    background-image: url(taustakuva.jpg);
}
h1 {
    background-color: white;
    opacity: 0.5;
    color: black;
    font-size: 20px;
    margin: 30px
}
div {
    border: 2px dotted white;
    padding: 10px 10px;
    border-radius: 15px;
    color: black;
    background-color: #ebe535;
    margin: 30px;
    margin-bottom: 25px;
}    
p  {
    border: 2px dotted white;
    padding: 10px 10px;
    border-radius: 15px;
    color: black;
    background-color: #ebe535;
    margin: 30px;
    margin-bottom: 25px;
}
h2 { 
    margin: 30px;
    border-bottom: 4px dashed white; 
    color: #000066;
    background-color: #ffff4d;
}    
figure { 
    margin:35px;
} 
