

body {

  	color: #808080;
	background-image: url(taustakuva.jpg);
	font-family: helvetica, sans-serif, arial;
	
}
.kuva {
	width: 375px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar {
    	padding: 20px;
	
}
.navbar-nav li {
    	padding-right: 25px;
}
.nav-link {
    	font-size: 1.1em;
}
.nav-link a:hover{
    font-size: 2.2em;
    color: yellow;
}

.carousel {
  	margin-bottom: 4rem;
}

.carousel-caption {
  	bottom: 3rem;
  	z-index: 10;
}

.carousel-item {
  	height: 32rem;
  	background-color: #777;
}
.carousel-item > img {
  	position: absolute;
  	top: 0;
  	left: 0;
  	min-width: 100%;
  	height: 32rem;
}

.marketing .col-lg-4 {
  	margin-bottom: 1.5rem;
  	margin-left: .75rem;
  
}
.marketing h2 {
  	font-weight: 400;
}
.marketing .col-lg-4 p {
 	margin-right: .75rem;
  	margin-left: .75rem;
}
.featurette-divider {
  	margin: 5rem 0;
}

.featurette-heading {
  	font-weight: 300;
  	line-height: 1;
  	letter-spacing: -.05rem;
}
@media (min-width: 40em) {
  .carousel-caption p {
    	margin-bottom: 1.25rem;
    	font-size: 1.25rem;
    	line-height: 1.4;
  }
.container {
    	margin: 5rem;
}
.featurette-heading {
    	font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    	margin-top: 7rem;
  }
}
footer {
    	background-color: gray;
    	color: white;
}
